<div class="navbar-inner">
    <div class="navbar-container">
        <!-- Navbar Barnd -->
        <div class="navbar-header pull-left">
            <a class="navbar-brand">
                <small>
                    <img src="assets/img/logo.png" ng-if="!settings.rtl" alt=""/>
                    <img src="assets/img/logo-rtl.png" ng-if="settings.rtl" alt=""/>
                </small>
            </a>
        </div>
        <!-- /Navbar Barnd -->
        <!-- Sidebar Collapse -->
        <div class="sidebar-collapse"></div>
    </div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>